<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <connectionStrings>
    <add name="myConnectionString" connectionString="Server=192.168.1.102,10005; Password=Pr!5EDcba019SB; User Id=sa; Database=customerdata; Connection Timeout=30; Trusted Connection=false" />
  </connectionStrings>
  <appSettings>
    <add key="UHURU_LOG_FILE" value="c:\windocks\containers\933f12a4-848f-4152-b623-d27d2b23abb0\app-root\runtime\repo\logs\iis.stdout.log" />
    <add key="UHURU_ERROR_LOG_FILE" value="c:\windocks\containers\933f12a4-848f-4152-b623-d27d2b23abb0\app-root\runtime\repo\logs\iis.stderr.log" />
    <add key="UHURU_LOG_FILE" value="c:\windocks\containers\f5459779-35d0-4df8-80fd-dba021262763\app-root\runtime\repo\logs\iis.stdout.log" />
    <add key="UHURU_ERROR_LOG_FILE" value="c:\windocks\containers\f5459779-35d0-4df8-80fd-dba021262763\app-root\runtime\repo\logs\iis.stderr.log" />
  </appSettings>
</configuration>